/* Standards */
.App {
  text-align: center;
  font-family: "inconsolata", "open-sans", sans-serif;
  color: #505050;
}

body {
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  font-weight: 200;
  text-shadow: 0px 2px 6px #707070;
}

h2 {
  font-size: 2.75em;
  font-weight: 200;
}

h3 {
  font-size: 2.5em;
  font-weight: 200 !important;
}

h4 {
  font-size: 2em;
  font-weight: 200 !important;
}

a {
  cursor: pointer;
}

img {
  pointer-events: none;
}

.margin-top {
  /* container margin */
  margin-top: 6em;
}

.center-margin {
  /* center all sides*/
  margin: 6em;
}

.mobile-center-margin {
  margin: 6em 0;
}

.center-padding {
  /* center padding all sides*/
  padding: 6em;
}

.mobile-center-padding {
  padding: 6em 2em;
}
.vertical-padding {
  padding: 6em 0;
}

.separator {
  border-color: #F6B16C;
}

/* header */
.header {
  width: 100%;
}

.title-container {
  margin: 0 auto;
}

.title {
  display: flex;  
  justify-content: space-between;
  padding: 1em 1em;
}

.logo {
  /* Responsive image */
  max-width: 280px;
  width: 100%;
  height: auto;
}

.author-intro {
  max-width: 280px;
  width: 100%;
  height: auto;
}

.links {
  text-decoration: inherit;
  color: inherit;
}

.attributes-row {
  /* (top, right, bottom, left) */
  border-style: solid none solid;
  border-width: 2px;
  border-color: #808080;
  padding: 0 6em;
  margin-top: 4em;
}

.attributes-container {
  margin: 0 auto;
  display: flex; 
  flex-flow: wrap;
  justify-content: space-evenly;
}

.attribute {
  max-width: 14em;
  text-align: left;
}

/* About */
.about-row {
  background-color: #eaeaea;
  text-align: left;
  color: #303030;
}

.about-container {
  margin: 0 auto;
  max-width: 80%;
  padding: 6em 0;
}

.about-container h1 {
  border-bottom: .25em solid #F6B16C;
  line-height: 1.5;
  margin-top: 0;
}

.about-title {
  max-width: 50%;
  min-width: 16em;
}

.about-text-container {
  /* margin: 0 auto; */
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  font-size: 1.5em;
}

.about-text-container p {
  max-width: 50%;
  min-width: 16em;
}

/* Technical Portfolio */
.technical-portfolio {
  /* background-color: #8D8D8D; */
  padding: 6em 0;
}

.technical-portfolio-container {
  margin: 0 auto;
  max-width: 74%;
}

.technical-portfolio-title {
  color: black;
}
.technical-portfolio-title hr {
  max-width: 12em;
  border-color: #505050;
}

.technical-portfolio-wrapper {
  display: block;
  margin: 0 auto;
  max-width: 80%
}

.technical-portfolio-items {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  justify-items: start;
  
  column-gap: 2%;
  row-gap: 4%; */

  margin-top: 4em;
  height: 563px;
  background-color: #F6B16C;
}

.technical-portfolio-item {
  width: 100%;
  height: auto;
}

.technical-portfolio-items a:nth-child(3n) {
  margin-right: 0;
}

.technical-portfolio-items a:nth-child(4) {
  margin-bottom: 0;
}

.technical-portfolio-items a:nth-child(5) {
  margin-bottom: 0;
}

.technical-portfolio-items a:nth-child(6) {
  margin-bottom: 0;
}

.technical-portfolio-link {
  flex: 1 0 268px;
  height: 268px;
  margin: 0 1em 1em 0;
  background-color: white;
  position: relative;
}

.technical-portfolio-link:hover {  
  transform: scale(1.01) translateZ(0); 
  box-shadow: 0 24px 24px rgba(0,0,0,0.11);
}

.box-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .1s ease;
  background-color:#20202070;
}

.box-overlay h4 {
  color: white;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.technical-portfolio-link:hover .box-overlay {
  opacity: 1;
}

/* Additional Info (Author) */
.author-row {
  background-color: #EAEAEA;
  position: relative;  
  /* max-height: 100vh; */

  display: block;
  overflow: auto;
}

.author-container {
  display: grid;
  grid-template-columns:  repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);

  justify-items: end;
  align-items: end;
}

.author-title-container {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  margin: 0 auto;
  
  left: 9em;
}

.author-title {
  position: absolute;
  left: 9em;
  max-height: 200px;

  z-index: 100;
}

.author-image-container {
  max-width: 200px;
  max-height: 200px;
  margin-top: -6em;

  border: 1em solid white;
  border-radius: 50%;

  z-index: 100;
}

.author-image {
  width: 100%;
  height: 100%;
  
  border-radius: 50%;
}

.strike-through {
  grid-column: 1 / span 4; 
  grid-row: 1 / 2;  
  margin-left: 16%;
  margin-top: 5%;

  height: 3em;
  width: 50vw;
  
  background-color: #F6B16C;
}

.author-attribute {
  line-height: 2.5em;
  font-size: 1.2em;
}

.author-attribute-1 {
  grid-column: 2 / 3; 
  grid-row: 3 / 4;
} 

.author-attribute-2 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.author-attribute-3 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.author-attribute-4 {
  grid-column: 3 / end;
  grid-row: 3 / 4;
  margin-right: 3em;
}

.author-statement-container {
  border-bottom: .5em solid #F6B16C;
  width: 60vw;
  grid-column: 2 / end;
  grid-row: 5 / end;
  /* padding: 0 2em; */
}

.author-statement {
  margin: .5em 0;
}

/* Stack */
.tech-stack-row {
  background-color: #EAEAEA;
}

.tech-stack-title-container {
  background-color: #F48E29;
  box-shadow: 0 2px 6px #505050;
  padding: 1em;

  margin: 0 auto;
  max-width: 16em;
}

.tech-stack-title {
  color: #202020;
  /* border-bottom: 1px solid #505050; */

  line-height: 1.5;
}

.tech-stack-title h2 {
  margin: 0;
}

.tech-stack-content {
  padding-top: 2em;
  font-size: 1.6em;
}

/* Contact */

.contact-row {
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px #FFFFFF30;
}

.contact-row::before {
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background: #FFFFFF50;
}

.contact-text-container {
  max-width: 72em;
  color: black;
}

.contact-text {
  word-wrap: break-word;
  border-bottom: .75em solid #F6B16C;
  
  margin: 0 10%;
}

/* Social Links (Footer) */
.nav-container {
  text-align: center;
  padding: 1em;
  max-width: 80px;
  position: fixed;
  top: .5em;
  right: 0;
  z-index: 2;
}

.nav-container a {
  text-decoration: none;
  display: inline-block;
  width: 2em;
  height: 2em;
  background: transparent;
  color:#505050;
  margin: 5px;
  padding: .5em;
}

.nav-container a:hover {
  /*background: rgba(255, 255, 255, 0.1);*/
  background: #F6B16C70;
}

.menu-link {
  border-radius: 50%;
  border: 1px dashed transparent;
}

.menu {
  color: #F6B16C;
  font-size: 2em;
}

.social-link-container {
  border-radius: 50%;
  border: 1px dashed#505050;
}

.icon {
  margin: .25em;
}

/* NavBar (Sidebar) */
.nav-menu-container {
  background-color: #505050;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}

.nav-menu-container.active {
  right: 0;
  transition: 350ms;
}

.nav-menu-container ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.menu-item { 
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-item a {
  width: 100%;
  color: #F6B16C;
}

.menu-item a span {
  margin-left: 16px;
}

.menu-close {
  font-size: 2em;
  background: none;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1;
  height: 40px;
}

.menu-close a:hover {
  background: none;
}


/* Mobile Version */

.mobile-row {
  background-color: #fff5ea;
  color:  #505050;
  height: 100vh;
}

.mobile-row div {
  margin-top: 2em;
}

.mobile-social-links {
  text-decoration: none;
  display: inline-block;
  width: 2em;
  height: 2em;
  background: transparent;
  color: #505050;
  margin: 5px;
  padding: .5em;
}
